<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="login-header">
    <%= link_to "", new_user_session_path, class: "fas fa-arrow-left" %>
    <h2>Resend instructions</h2>
    <div class="actions">
      <%= f.submit "Next", class: "login-btn" %>
    </div>
  </div>

  <div class="user-input">
    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "email", autocomplete: "email", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
