<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="login-header">
    <%= link_to "", root_path, class: "fas fa-arrow-left" %>
      <h2>REGISTER</h2>
      
      <div class="actions">
        <%= f.submit "Next", class: "login-btn" %>
      </div>
  </div>

  <div class="user-input">
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "password" %>
      
      <% if @minimum_password_length %>
        <em class="pass-length">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "password" %>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
