<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-header">
    <%= link_to "", home_index_path, class: "fas fa-arrow-left" %>
    <h2>LOGIN</h2>
    <div class="actions">
      <%= f.submit "Log in", class: "login-btn" %>
    </div>
  </div>
  
  <div class="user-input">
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "password" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>