<div class="categories">
  <div class="cat-header">
    <div class="top">
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      
      <ul class="right-menu">
        <li class="bottom-nav-item"><a href="./index.html" class="bottom-nav-link">Home</a></li>
        <li class="bottom-nav-item"><a href="#" class="bottom-nav-link">Account Settings</a></li>
        <li class="bottom-nav-item"><a href="#" class="bottom-nav-link">Categories</a></li>
        <li class="bottom-nav-item"><a href="#" class="bottom-nav-link">Expenses</a></li>
      </ul>

      <h2>CATEGORIES</h2>
      <%= image_tag("search-icon.png", alt: "search icon", class: "search-icon") %>
    </div>

    <div class="middle">
      <% if user_signed_in? %>
        <form action="<%= destroy_user_session_path %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <button type="submit" class="btn btn-danger">Logout</button>
        </form>
      <% end %>

      <div class="bottom">
        <p>Most recent</p>
        <p>Most ancient</p>
      </div>
    </div>
  </div>

  <div class="gift">
    <p class="g-label">Gift credit</p>
    <p class="g-amount">$2,500.00</p>
  </div>

  
  <ul class="exp-group">
    <% @categories.each do |category| %>
      <li>
        <%= link_to category_expenses_path(category), class: "list-group" do %>
          <div class="icon-group">
            <%= image_tag category.icon, class: "exp-icon" %>
                
            <div class="icon-details">
              <div class="icon-text">
                <p class="cname" style="text-decoration: none"><%= category.name %></p>
                <p class="amount">$<%= number_with_precision(category.expenses.sum(:amount), precision: 2, delimiter: ',', separator: '.') %></p>
              </div>
                  
              <p class="cdate"><%= category.created_at.strftime("%d %b %Y") %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
    
  <div class="add-btn">
    <a href="/categories/new">Add a new category</a>
  </div>
</div>