<div class="categories">
    <div class="cat-header new-category">
        <div class="top">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <h2>ADD NEW CATEGORY</h2>
            <%= image_tag("search-icon.png", alt: "search icon", class: "search-icon") %>
        </div>

        <div class="middle">
            <% if user_signed_in? %>
                <form action="<%= destroy_user_session_path %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            <% end %>
        </div>
    </div>

    <%= form_for(@category || Category.new, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
        <div class="new-cat-input">
            <%= f.text_field :name, class: "form-control", required: true, placeholder: "Category Name" %>
            <%= f.text_field :icon, class: "form-control", required: true, placeholder: "Category Icon" %>
        </div>

        <%= f.submit "SAVE", class: "btn btn-primary" %>
    <% end %>
</div>