<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapstoneBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <%= javascript_include_tag "hamburger" %>
    
    <%= stylesheet_link_tag "hamburger", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "flash", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "login", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "category", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "new-category", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "expenses", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <script>
    function redirectToIndex() {
      // Redirect to the categories index page
      window.location.href = "/categories";
    }
  </script>

  <script>
    function previewImage(input) {
      var preview = document.getElementById('image-preview');
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              var img = new Image();
              img.src = e.target.result;
              img.style.maxWidth = '100px'; // Adjust the image preview size
              preview.innerHTML = ''; // Clear previous preview
              preview.appendChild(img);

              // Set the icon path to the hidden field
              document.getElementById('icon-path').value = e.target.result;
          };

          reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  </body>
</html>
